[CONFIG]
contactpoints = X
clustername = X
clusteruser = user1
clusterpass = password1
crossdclatency = 30
rowcount = 10
sslenabled = 0
sslca = ~/.ssh/id_rsa
ks_query = CREATE KEYSPACE IF NOT EXISTS demo WITH replication = {'class': 'NetworkTopologyStrategy', 'AWS': 3, 'Azure': 3, 'GCP': 3}

[WRITE]
writelocalDC = X
rowcount = 10
cl = ONE

[READ]
readlocalDC = X
rowcount = 10
cl = ONE

[KHAOS]
lcm = 127.0.0.1
lcmport = 8888
sshusername = ubuntu
sshkeyfile = ~/.ssh/id_rsa
khaoslocalDC = X

