body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

html #root {
    height: 100vh;
}

.cardheader {
    background-color: silver;
    font-size: 28px;
    color: black;
    text-align: center;
}
.cardbody {
    margin: 0 auto;
    color: black;
}

.cardtext {
    height: 260px;
    overflow: auto;
    font-size: 22px;
    width: 100%;
}
